@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?79069433');
  src: url('../font/fontello.eot?79069433#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?79069433') format('woff2'),
       url('../font/fontello.woff?79069433') format('woff'),
       url('../font/fontello.ttf?79069433') format('truetype'),
       url('../font/fontello.svg?79069433#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?79069433#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-calendar:before { content: '\e800'; } /* 'Ó Ä' */
.icon-lock:before { content: '\e80e'; } /* 'Ó é' */
.icon-flag:before { content: '\e812'; } /* 'Ó í' */
.icon-upload-cloud:before { content: '\e815'; } /* 'Ó ï' */
.icon-lamp:before { content: '\e816'; } /* 'Ó ñ' */
.icon-left:before { content: '\e817'; } /* 'Ó ó' */
.icon-right:before { content: '\e818'; } /* 'Ó ò' */
.icon-up:before { content: '\e819'; } /* 'Ó ô' */
.icon-down-dir:before { content: '\e81a'; } /* 'Ó ö' */
.icon-left-dir:before { content: '\e81b'; } /* 'Ó õ' */
.icon-right-dir:before { content: '\e81c'; } /* 'Ó ú' */
.icon-up-dir:before { content: '\e81d'; } /* 'Ó ù' */
.icon-down-bold:before { content: '\e81e'; } /* 'Ó û' */
.icon-left-bold:before { content: '\e81f'; } /* 'Ó ü' */
.icon-right-bold:before { content: '\e820'; } /* 'Ó  ' */
.icon-up-bold:before { content: '\e821'; } /* 'Ó °' */
.icon-folder:before { content: '\e826'; } /* 'Ó ¶' */
.icon-to-end:before { content: '\e827'; } /* 'Ó ß' */
.icon-to-start:before { content: '\e828'; } /* 'Ó ®' */
.icon-fast-forward:before { content: '\e829'; } /* 'Ó ©' */
.icon-fast-backward:before { content: '\e82a'; } /* 'Ó ™' */
.icon-record:before { content: '\e82b'; } /* 'Ó ´' */
.icon-pause:before { content: '\e82c'; } /* 'Ó ¨' */
.icon-stop:before { content: '\e82d'; } /* 'Ó ≠' */
.icon-cog:before { content: '\e82e'; } /* 'Ó Æ' */
.icon-cog-1:before { content: '\e831'; } /* 'Ó ±' */
.icon-sun:before { content: '\e832'; } /* 'Ó ≤' */
.icon-moon:before { content: '\e833'; } /* 'Ó ≥' */
.icon-eclipse:before { content: '\e834'; } /* 'Ó ¥' */
.icon-mist:before { content: '\e835'; } /* 'Ó µ' */
.icon-wind:before { content: '\e836'; } /* 'Ó ∂' */
.icon-snowflake:before { content: '\e837'; } /* 'Ó ∑' */
.icon-cloud-sun:before { content: '\e838'; } /* 'Ó ∏' */
.icon-cloud-moon:before { content: '\e839'; } /* 'Ó π' */
.icon-fog-sun:before { content: '\e83a'; } /* 'Ó ∫' */
.icon-fog-moon:before { content: '\e83b'; } /* 'Ó ª' */
.icon-fog-cloud:before { content: '\e83c'; } /* 'Ó º' */
.icon-fog:before { content: '\e83d'; } /* 'Ó Ω' */
.icon-cloud:before { content: '\e83e'; } /* 'Ó æ' */
.icon-cloud-flash:before { content: '\e83f'; } /* 'Ó ø' */
.icon-cloud-flash-alt:before { content: '\e840'; } /* 'Ó°Ä' */
.icon-drizzle:before { content: '\e841'; } /* 'Ó°Å' */
.icon-rain:before { content: '\e842'; } /* 'Ó°Ç' */
.icon-windy:before { content: '\e843'; } /* 'Ó°É' */
.icon-windy-rain:before { content: '\e844'; } /* 'Ó°Ñ' */
.icon-snow:before { content: '\e845'; } /* 'Ó°Ö' */
.icon-snow-alt:before { content: '\e846'; } /* 'Ó°Ü' */
.icon-snow-heavy:before { content: '\e847'; } /* 'Ó°á' */
.icon-hail:before { content: '\e848'; } /* 'Ó°à' */
.icon-clouds:before { content: '\e849'; } /* 'Ó°â' */
.icon-clouds-flash:before { content: '\e84a'; } /* 'Ó°ä' */
.icon-fahrenheit:before { content: '\e84b'; } /* 'Ó°ã' */
.icon-celcius:before { content: '\e84c'; } /* 'Ó°å' */
.icon-sunrise:before { content: '\e84d'; } /* 'Ó°ç' */
.icon-progress-0:before { content: '\e84e'; } /* 'Ó°é' */
.icon-progress-1:before { content: '\e84f'; } /* 'Ó°è' */
.icon-progress-2:before { content: '\e850'; } /* 'Ó°ê' */
.icon-progress-3:before { content: '\e851'; } /* 'Ó°ë' */
.icon-progress-4:before { content: '\e852'; } /* 'Ó°í' */
.icon-progress-5:before { content: '\e853'; } /* 'Ó°ì' */
.icon-progress-6:before { content: '\e854'; } /* 'Ó°î' */
.icon-progress-7:before { content: '\e855'; } /* 'Ó°ï' */
.icon-star-1:before { content: '\e856'; } /* 'Ó°ñ' */
.icon-star-empty-1:before { content: '\e857'; } /* 'Ó°ó' */
.icon-user-1:before { content: '\e858'; } /* 'Ó°ò' */
.icon-user-plus:before { content: '\e859'; } /* 'Ó°ô' */
.icon-user-times:before { content: '\e85a'; } /* 'Ó°ö' */
.icon-users-1:before { content: '\e85b'; } /* 'Ó°õ' */
.icon-picture-1:before { content: '\e85c'; } /* 'Ó°ú' */
.icon-th-large:before { content: '\e85d'; } /* 'Ó°ù' */
.icon-th:before { content: '\e85e'; } /* 'Ó°û' */
.icon-th-list:before { content: '\e85f'; } /* 'Ó°ü' */
.icon-ok:before { content: '\e860'; } /* 'Ó° ' */
.icon-cancel-1:before { content: '\e861'; } /* 'Ó°°' */
.icon-plus:before { content: '\e862'; } /* 'Ó°¢' */
.icon-minus:before { content: '\e863'; } /* 'Ó°£' */
.icon-home-1:before { content: '\e864'; } /* 'Ó°§' */
.icon-link-1:before { content: '\e865'; } /* 'Ó°•' */
.icon-unlink:before { content: '\e866'; } /* 'Ó°¶' */
.icon-link-ext:before { content: '\e867'; } /* 'Ó°ß' */
.icon-attach-1:before { content: '\e868'; } /* 'Ó°®' */
.icon-lock-1:before { content: '\e869'; } /* 'Ó°©' */
.icon-pin:before { content: '\e86a'; } /* 'Ó°™' */
.icon-lock-open-alt:before { content: '\e86b'; } /* 'Ó°´' */
.icon-bookmark:before { content: '\e86c'; } /* 'Ó°¨' */
.icon-bookmark-empty:before { content: '\e86d'; } /* 'Ó°≠' */
.icon-thumbs-up-1:before { content: '\e86e'; } /* 'Ó°Æ' */
.icon-thumbs-down-1:before { content: '\e86f'; } /* 'Ó°Ø' */
.icon-download-cloud:before { content: '\e870'; } /* 'Ó°∞' */
.icon-upload-cloud-1:before { content: '\e871'; } /* 'Ó°±' */
.icon-code-1:before { content: '\e872'; } /* 'Ó°≤' */
.icon-share-1:before { content: '\e873'; } /* 'Ó°≥' */
.icon-bell-alt:before { content: '\e874'; } /* 'Ó°¥' */
.icon-bell-off:before { content: '\e875'; } /* 'Ó°µ' */
.icon-cog-2:before { content: '\e876'; } /* 'Ó°∂' */
.icon-menu-1:before { content: '\e877'; } /* 'Ó°∑' */
.icon-sliders:before { content: '\e878'; } /* 'Ó°∏' */
.icon-down-open:before { content: '\e879'; } /* 'Ó°π' */
.icon-left-open:before { content: '\e87a'; } /* 'Ó°∫' */
.icon-right-open:before { content: '\e87b'; } /* 'Ó°ª' */
.icon-up-open:before { content: '\e87c'; } /* 'Ó°º' */
.icon-align-justify:before { content: '\e87d'; } /* 'Ó°Ω' */
.icon-list:before { content: '\e87e'; } /* 'Ó°æ' */
.icon-toggle-off:before { content: '\e87f'; } /* 'Ó°ø' */
.icon-toggle-on:before { content: '\e880'; } /* 'Ó¢Ä' */
.icon-vimeo-squared:before { content: '\e881'; } /* 'Ó¢Å' */
.icon-youtube-squared:before { content: '\e882'; } /* 'Ó¢Ç' */