<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--Common Settings-->
    <!--===============-->
    <add key="XMLConfigRootPath" value="XML-Config" />
    <add key="XMLConfigFileName" value="COX-Provisioning-Config.xml" />
    <add key="TaxonomyTemplateFile" value="TaxonomyTemplate.xml" />
    <!--***********************************-->
    
    <!--SECTIONS FOR Manual Mode-->
    <!--========================-->
    <add key="UserName" value="admin@MOD174499.onmicrosoft.com" />
    <add key="Password" value="pass@word1" />
    <!--<add key="TargetSiteCollectionUrl" value="https://coxcomminc.sharepoint.com/sites/lab1/" />-->
    <add key="TargetSiteCollectionUrl" value="https://mod174499.sharepoint.com/sites/T26/" />
    <add key ="Subsites" value="Accounting:CommunityTemplate.xml:COMMUNITY#0;Discover:DiscoverTemplate.xml:STS#0;myHR:myHRTemplate.xml:STS#0;NewsArtifacts:NewsArtifacts.xml:CMSPUBLISHING#0"/>
   
    <add key="ProvisionSiteCollection" value="True" />
    <add key="ProvisionSubSites" value="False" />
    <add key="ProvisionTaxonomy" value="False" />
    <add key="DeployConfigListGUIDs" value="False" />
    
    <!--SWITCH BETWEEN MANUAL AND AUTO-MODE-->
    <!--===================================-->
    <add key="CloudAutoDeploymentMode" value="False" />
    <!--*******************************************-->
    
    <!--SECTIONS FOR Cloud Based AutoProvisioning Mode-->
    <!--==============================================-->
    <add key="GovernanceSiteCollection" value="https://mod174499.sharepoint.com/sites/GovernanceSite/" />
    <add key="SubSiteRequests_List" value="SubSiteRequests" />
    <add key="SubsiteRequestQueueCount" value="1" />
    <add key="GovernanceXMLConfigFileName" value="GovernanceSiteTemplate.xml" />
    <add key="ClientId" value="bf05d869-2b22-46bb-bb54-e4535c3ec491" />
    <add key="ClientSecret" value="B2glP281t4fVzIM/6423jsCiIrXUv9a5JMTE2Ea5Bdw=" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>